In [1]:
# Data Manipulation using Python
import numpy as np
import pandas as pd

In [2]:
# Load data from a csv file
df = pd.read_csv('Iris.csv')

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.head() # displays first five rows of the DataFrame by default

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.head(10) # displays first ten rows of the DataFrame

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [6]:
df.tail() # displays last five rows of the DataFrame by default

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.tail(10) # displays last ten rows of the DataFrame

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df.info() # displays summary information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
# Accessing a specific column
column_data = df['Species']
column_data

# print(df.info(verbose=True)) # displays a detailed summary of the DataFrame

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [10]:
# Filtering the data
# Filter rows where a specific column meets a condition
# This retrieves rows from the DataFrame where the values in 'PetalLengthCm' are greater than 1.5
filtered_data = df[df['PetalLengthCm']> 1.5] 
filtered_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
5,6,5.4,3.9,1.7,0.4,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
# Add a new column
# This creates a new column 'NewColumn' in the DataFrame by adding the values from 'Column1' and 'Column2'.

df['Sepal'] = df['SepalLengthCm']+ df['SepalWidthCm']
df['Sepal']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Name: Sepal, Length: 150, dtype: float64

In [13]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Sepal
0,1,5.1,3.5,1.4,0.2,Iris-setosa,8.6
1,2,4.9,3.0,1.4,0.2,Iris-setosa,7.9
2,3,4.7,3.2,1.3,0.2,Iris-setosa,7.9
3,4,4.6,3.1,1.5,0.2,Iris-setosa,7.7
4,5,5.0,3.6,1.4,0.2,Iris-setosa,8.6
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,9.7
146,147,6.3,2.5,5.0,1.9,Iris-virginica,8.8
147,148,6.5,3.0,5.2,2.0,Iris-virginica,9.5
148,149,6.2,3.4,5.4,2.3,Iris-virginica,9.6
149,150,5.9,3.0,5.1,1.8,Iris-virginica,8.9

In [14]:
# Remove a column
# This removes the specified column from the DataFrame.
# The 'axis=1' parameter indicates that a column is being dropped (use 'axis=0' for rows).
# The 'inplace=True' parameter modifies the DataFrame directly without returning a new object.
df.drop('Sepal', axis=1, inplace=True) #axis- 0 is for rows, -1 is for columns
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
# Rename columns
df.columns = ["Id", "SepalLength", "SepalWidth", "PetalLengthCm", "PetalWidthCm", "Species"] #to rename all the columns
df

df.rename(columns = {'SepalLength': 'SepalLong'}) # to rename specific columns
df

      Id  SepalLength  SepalWidth  PetalLengthCm  PetalWidthCm         Species
0      1          5.1         3.5            1.4           0.2     Iris-setosa
1      2          4.9         3.0            1.4           0.2     Iris-setosa
2      3          4.7         3.2            1.3           0.2     Iris-setosa
3      4          4.6         3.1            1.5           0.2     Iris-setosa
4      5          5.0         3.6            1.4           0.2     Iris-setosa
..   ...          ...         ...            ...           ...             ...
145  146          6.7         3.0            5.2           2.3  Iris-virginica
146  147          6.3         2.5            5.0           1.9  Iris-virginica
147  148          6.5         3.0            5.2           2.0  Iris-virginica
148  149          6.2         3.4            5.4           2.3  Iris-virginica
149  150          5.9         3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]

In [16]:
# Group by a column and calculate the mean
# This groups the DataFrame by the values in 'GroupColumn' and calculates the mean
# for each group for all numeric columns.
# Replace 'GroupColumn' with the actual name of the column you want to group by.
grouped_data = df.groupby('Species').mean()
grouped_data

                    Id  SepalLength  SepalWidth  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       25.5        5.006       3.418          1.464         0.244
Iris-versicolor   75.5        5.936       2.770          4.260         1.326
Iris-virginica   125.5        6.588       2.974          5.552         2.026

In [20]:
# Sort the DataFrame by a specific column
# This sorts the DataFrame based on the values in 'ColumnName'.
# The 'ascending=True' parameter indicates that the sorting should be in ascending order.
# To sort in descending order, set 'ascending=False'.
sorted_df = df.sort_values(by='SepalLength', ascending=True) # Sorts the DataFrame by 'ColumnName'
sorted_df

      Id  SepalLength  SepalWidth  PetalLengthCm  PetalWidthCm         Species
13    14          4.3         3.0            1.1           0.1     Iris-setosa
42    43          4.4         3.2            1.3           0.2     Iris-setosa
38    39          4.4         3.0            1.3           0.2     Iris-setosa
8      9          4.4         2.9            1.4           0.2     Iris-setosa
41    42          4.5         2.3            1.3           0.3     Iris-setosa
..   ...          ...         ...            ...           ...             ...
122  123          7.7         2.8            6.7           2.0  Iris-virginica
118  119          7.7         2.6            6.9           2.3  Iris-virginica
117  118          7.7         3.8            6.7           2.2  Iris-virginica
135  136          7.7         3.0            6.1           2.3  Iris-virginica
131  132          7.9         3.8            6.4           2.0  Iris-virginica

[150 rows x 6 columns]